---
import avator from "../assets/avator.png";

import Layout from "../layouts/default.astro";
import Avator from "../components/Avator.astro";
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
import { getEntry } from "astro:content";
import Header from "../components/Header.astro";

const entry = await getEntry("profile", "contact");
const { Content } = await entry.render();
---

<Layout title="Contact | 39sho.dev" description="39shoへ連絡">
    <Hero>
        <Avator img={avator} slot="avator" />
        <span slot="name">39sho(さくしょー)</span>
    </Hero>
    <div class="sticky top-0 my-4 z-50">
        <Header />
    </div>
    <Main>
        <div class="prose">
            <Content />
        </div>
    </Main>
</Layout>
