---
import avator from "../assets/avator.png";

import Layout from "../layouts/default.astro";
import Avator from "../components/Avator.astro";
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("profile", "about");
const { Content } = await entry.render();
---

<Layout title="39sho.dev" description="39shoのサイト">
	<Hero>
		<Avator img={avator} slot="avator" />
		<span slot="name">39sho(さくしょー)</span>
	</Hero>
	<Main>
		<div class="prose">
			<Content />
		</div>
	</Main>
</Layout>
