---
import Layout from "../layouts/default.astro";
import Header from "../components/Header.astro";
---

<Layout title="Works | 39sho.dev" description="39shoã®Works">
    <Header />
    <div class="text-2xl">ðŸš§å·¥äº‹ä¸­...</div>
</Layout>
