---
import Navigation from "./Navigation.astro";
---

<div class="w-full flex flex-col items-center bg-white/40 backdrop-blur-sm">
    <div class="my-2 w-full max-w-xl">
        <Navigation />
    </div>
</div>
