---
import avator from "../assets/avator.png";

import Avator from "./Avator.astro";
import Navigation from "./Navigation.astro";
---

<div class="sticky top-0 w-full flex flex-col items-center backdrop-blur z-50">
    <div class="flex w-full max-w-2xl">
        <div class="w-12">
            <a href="/">
                <Avator img={avator} />
            </a>
        </div>
        <div class="flex-grow flex items-center">
            <div class="w-full">
                <Navigation />
            </div>
        </div>
    </div>
</div>
