---
import { collapseTextChangeRangesAcrossMultipleVersions } from "typescript";
type NavItem = {
    link: string;
    text: string;
};

const nav: NavItem[] = [
    {
        link: "/",
        text: "About",
    },
    {
        link: "/contact",
        text: "Contact",
    },
    {
        link: "/works",
        text: "Works",
    },
    {
        link: "/blog",
        text: "Blog",
    },
];

const current = `/${Astro.url.pathname.split("/")[1]}`;
---

<nav class="flex items-center">
    {
        nav.map(({ link, text }) => (
            <a
                href={link}
                class="flex-1 text-center text-xl border-l-2 first:border-l-0 border-neutral-200"
            >
                <div class={link == current ? "bg-neutral-200" : ""}>
                    {text}
                </div>
            </a>
        ))
    }
</nav>
