---
import TocItem from "./TocItem.astro";

export interface TocLink {
	id: string;
	text: string;
	depth: number;
	children?: TocLink[];
}

export interface Props {
	toc: {
		title?: string;
		depth?: number;
		searchDepth?: number;
		links?: TocLink[];
	};
}

const { toc } = Astro.props;
const links = toc?.links ?? [];
---

<details class="p-2 border-2 border-neutral-200 rounded-lg w-fit">
    <summary>目次</summary>
    <nav class="p-4">
        <ol class="flex flex-col gap-1">
            {links.map((link) => <TocItem {...link} />)}
        </ol>
    </nav>
</details>
