---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}

const genHash = (n: number) =>
    [...Array(n).fill("#"), ...Array(5 - n).fill(" ")].join("");

const { headings } = Astro.props;
---

<details class="p-2 border-2 border-neutral-200 rounded-lg w-fit">
    <summary>目次</summary>
    <nav class="p-4">
        <ol class="flex flex-col gap-1">
            {
                headings.map((heading) => (
                    <li>
                        <a href={`#${heading.slug}`} class="flex">
                            <span class="block w-12 flex-shrink-0">
                                {genHash(heading.depth)}
                            </span>
                            {heading.text}
                        </a>
                    </li>
                ))
            }
        </ol>
    </nav>
</details>
