---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="ja">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="font-mono w-full overflow-y-scroll">
        <slot />
        <Footer />
    </body>
</html>
